html {
	scroll-padding-top: 64px;
}

body {
	height: 3000px;
	overflow: auto;
	position: relative;

	padding-top: 64px;
	/* space underneath navbar  */
}

.jumby {
	background-image: url("img/bannerbg.png");
	background-position: center bottom;
	background-repeat: repeat-x;
	background-size: contain;
	/*text-shadow: 1px 1px 3px white;*/
}

.reqcard {
	height: 1000px;
}

iframe {
	width: 100%;
}

/* makes the spans inside the <a>s in the navbar take up the full space so
   that closing the navbar works */
a>span {
	display: block;
	width: 100%;
	height: 100%;
}

.nav-item>a.nav-link {
	padding: 0;
	margin: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}
