header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
nav ul {
	font-size: 1.2em;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}

/**/
header {
	background-color: #000032;
	background-image: url("sunset.jpg");
	background-position: right;
	background-repeat: no-repeat;
}
header h1 {
	color: #FFF;
}
body {
	background-color: #00569F;
	background-image: url("ptrbackground.jpg");
	background-repeat: repeat-x;
}
#wrapper {
	background-color: #FFF;
	margin: auto;
	width: 80%;
	min-width: 600px;
}
#content {
	margin-left: 210px;
	padding-right: 1em;
}
#content ul {
	list-style-image: url("marker.gif");
	list-style-position: inside;
}
#content img {
	float: left;
	margin-right: 1em;
}
nav {
	background-color: #90C8E3;
	width: 190px;
	float: left;
}
nav a {
	color: #000032;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	padding-left: 1em;
}
footer {
	margin-left: 210px;
	font-style: italic;
	font-size: 80%;
	padding-bottom: 1em;
}
.resort {
	color: #2B82AD;
	font-weight: bold;
}
